<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Rotten Mangoes</h1>
  </div>
</div>
<div class="row top-buffer">
  <div class="form-group">
    <div class="form-inline text-center">
      <div class="col-sm-12">
          <%= form_tag('/movies', method: "get") do %>
            <%= label_tag(:search, "Search Movies:") %>
            <%= text_field_tag(:search, nil, class: 'form-control') %>
            <%= label_tag(:minimum_duration, "Minimum duration:") %>
            <%= text_field_tag(:minimum_duration, nil, class: 'form-control', id: 'duration-field') %>
            <%= label_tag(:maximum_duration, "Maximum duration:") %>
            <%= text_field_tag(:maximum_duration, nil, class: 'form-control', id: 'duration-field') %>
      </div>
      <div class="col-sm-2 col-sm-offset-5">
        <%= submit_tag "Search", name: nil, class: 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-sm-12 text-center">
    <!-- <div class="btn-group"> -->
    <%= link_to "Add a new movie", new_movie_path, class: 'btn btn-primary' %>
    <!-- </div> -->
  </div>
</div>
<div class="row top-buffer">
  <section class="text-center">
    <% @movies.each_slice(2) do |slice| %>
    <div class="col-sm-12">
      <% slice.each do |movie| %>
      <div class="col-sm-6">
        <figure>
        <%= link_to image_tag(movie.poster.resize.url, class: 'img-rounded image-height'), movie_path(movie) %>
        </figure>
        <h2><%= movie.title %></h2>
        <%=render partial: "movie", locals: {movie: movie} %>
      </div>
      <% end %>
    </div>
    <% end %>
  </section>
</div>


      
