<h1><%= @movie.title %></h1>

<h3><%= @movie.director %> </h3>
<h4><%= @movie.release_date.strftime("%Y") %> </h4>
<h4>Length: <%= @movie.runtime_in_minutes %> minutes </h4>
<p><%= @movie.description %></p>

<%=link_to "Edit", edit_movie_path %><br>

<%=link_to "Back to all movies", movies_path %>
